/* IMPORT FONT */
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
/* ROOT */
:root{
    --bg01: linear-gradient(180deg, #22262a 0%,#181a1d 100%);
    --bg02: linear-gradient(135deg, #2f3439 0%,#1d1f23);
    --bg03: linear-gradient(135deg, #2c3136 0%,#1d2023);
    --bg04: #040404;

    --border1:#22262a;
    --border2:#1a1d21;

    /* BOX-SHADOW */
    --box-shadow1:6px 6px 10px #151618,
                  -6px -6px 10px #2c3136,
                  inset 2px 2px 6px #33353b,
                  inset -3px -3px 6px #151618;
                  
    --box-shadow2:-6px -6px 10px #151618,
                   6px 6px 10px #2c3136,
                  inset 2px 2px 6px #33353b,
                  inset -3px -3px 6px #151618;
                  
    --box-shadow3: 6px 6px 12px #151618,
                    -6px -6px 12px #2c3136; 
                    
    --box-shadow4:inset 2px 2px 3px -2px rgba(167,169,171,0.322),
                  inset 0px -1px 1px 0px #4a4c4e;

    --box-shadow5:8px 8px 12px #151618,
                  -2px -2px 10px #2c3136,
                  inset 2px 2px 3px #33353b,
                  inset -2px -2px 3px #151618; 
                  
    --box-shadow6:10px 10px 12px #151618,
    -1px -1px 12px #222529,
    inset 4px 4px 8px #33353b,
    inset -4px -4px 8px #151618;    
    
    --box-shadow7:10px 10px 12px #151618,
    -10px -10px 12px #222529,
    inset -4px -4px 8px #33353b,
    inset 4px 4px 8px #151618;  

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lalezar', cursive;
}
body{
    font-family: 'Lalezar', cursive;
    background: var(--bg01);
    height: 100vh;
}
.container{
width: 100%;
display: flex;
overflow-y: auto;
}
.wrapper{
    width: 58rem;
    height: 100vh;
    text-align: center;
    padding:2rem;
    margin: 0 auto;
    overflow: hidden;
}
 .container .playlists{
    width: 25%;
    height: 100vh; 
    /* border: 1px solid #fff; */
    /* margin-top: 15px; */
    overflow-y: auto;
    scroll-behavior: smooth;
    /* background: #4a4c4e; */
    border-left: 1px solid rgba(255,255,255,.2);
    text-align: right;

}
.playlists::-webkit-scrollbar{
    display: none;
}
.playlists li{
    position: relative;
    list-style-type: none;
    padding: 20px 10px 0px 20px;
    height: 105px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    cursor: pointer;
    transition: .3s linear;
    border-bottom: 1px solid rgba(255,255,255,.2);
}
.playlists li img{
    width: 4rem;
    height: 4rem;
    border-radius: 0%;
    border: none;
    margin-right: 10px;
}
.playlists li h5{
    margin-right: 15px;
    color: #7c7d80;
    margin-top: 0.9rem;

}
.playlists li .songName{
    color: #a7a9ab;
}
.playlists li i{
    position: absolute;
    left: 15px;
    top: 35px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid var(--border2);
    background: var(--bg03);
    box-shadow: var(--box-shadow6);
    transition: all 0.2s ease;
    font-size: 20px;
    user-select: none;
    color: #a7a9ab;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.playlists li i:active{
    box-shadow: var(--box-shadow7);
}
header,.song-timer,.controls{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
header{
    flex-direction: row-reverse;
}
header .hdbtn-1{
    background: var(--bg02);
    border: 2px solid var(--border1);
    box-shadow: var(--box-shadow1);
    width: 52px;
    height: 52px;
    line-height: 59px;
    color: #86898c;
    font-size: 28px;
    border-radius: 50%;
    transition: all 0.3s ease;
}
header .hdbtn-2{
    background: var(--bg02);
    border: 2px solid var(--border1);
    box-shadow: var(--box-shadow1);
    width: 52px;
    height: 52px;
    line-height: 59px;
    color: #86898c;
    font-size: 32px;
    border-radius: 50%;
    transition: all 0.1s ease;
    display: none;
}
header .hdbtn-3{
    background: var(--bg02);
    border: 2px solid var(--border1);
    box-shadow: var(--box-shadow1);
    width: 52px;
    height: 52px;
    line-height: 59px;
    color: #86898c;
    font-size: 32px;
    border-radius: 50%;
    transition: all 0.1s ease;
    /* display: none; */
}
.hdbtn-3:active{
    box-shadow: var(--box-shadow2);
}
.hdbtn-1:active{
    box-shadow: var(--box-shadow2);
}
.hdbtn-2:active{
    box-shadow: var(--box-shadow2);
}
header .hdbtn-1{
    display: none;
}
header h3{
    font-size: 19px;
    color: #86898c;
}
/* .player{
margin-top: 2rem;
} */
.img-area{
    margin-top: -2.5rem;
}
img{
    width: 18rem;
    height: 18rem;
    margin-bottom: 2.5rem;
    object-fit: cover;
    border: 10px solid var(--border2);
    border-radius: 50%;
    box-shadow: var(--box-shadow3);
    
}
.song-details{
    position: relative;
    bottom: 2.6rem;
}
.name{
    color: #a7a9ab;
    font-size: 1.6rem;
    margin-bottom: -1rem;
}
.artist{
    color: #7c7d80;
    font-size: 19px;
    padding: 10px 0 10px 0;
}
/* .audioC{
    margin: 0px 0 30px 0px;
} */
/* .song-timer{
    margin-bottom: 20px;
} */
.song-timer span{
    font-size: 15px;
    color: #7c7d80;
    user-select: none;
    font-weight: 800;
    margin-top: -1.1rem;
}
.progress-area{
    height: 7px;
    width: 100%;
    border-radius: 50px;
    background: var(--bg04);
    box-shadow: var(--box-shadow4);
    cursor: pointer;
    margin-top: -2.6rem; 
}
.progress-area .progress-bar{
    height: inherit;
    width: 0%;
    position: relative;
    border-radius: inherit;
    background: linear-gradient(90deg,
                        #bf2311 0%,
                        #e1530a 80%);
    box-shadow: var(--box-shadow4);  
                     
}
.progress-bar::before{
    content: '';
    position: absolute;
    background: var(--bg2);
    box-shadow: var(--box-shadow5);
    border-radius: 50%;
    top: 50%;
    right: -14px;
    z-index: 2;
    width: 28px;
    height: 28px;
    outline: none;
    border: none;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.2s ease;
}
.progress-bar::after{
    content: '';
    position: absolute;
    background: #e1530a;
    border-radius: 50%;
    top: 50%;
    right: -5px;
    z-index: 2;
    width: 10px;
    height: 10px;
    outline: none;
    border: none;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.2s ease;
}
.controls{
    margin: 1px 8px 5px 8px;
}
.btnC{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid var(--border2);
    background: var(--bg03);
    box-shadow: var(--box-shadow6);
    transition: all 0.2s ease;
}
.btnC:active{
    box-shadow: var(--box-shadow7);
}
.controls i{
    font-size: 20px;
    user-select: none;
    color: #a7a9ab;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}
.controls .play-pause{
    width: 80px;
    height: 80px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.play-pause i{
     text-align: center;
     color: #fff;
     font-size: 2rem;
}
.play-pause{
    border: 3px solid #ce4b0e;
    background: linear-gradient(135deg,#bd2210,#e5550b);
    box-shadow: 
    20px 20px 12px #151618,
    1px 1px 12px #222529,
    inset 4px 4px 8px #e5550b,
    inset 4px 4px 8px #bd2210;
}
.play-pause:active{
    box-shadow: 
    10px 10px 12px #151618,
    -10px -10px 12px #222529,
    inset -10px -10px 8px #e5550b,
    inset 10px 10px 8px #bd2210;
}
.rotate{
    animation: rotation 8s infinite linear;
    transform-origin:center ;
}
@keyframes rotation {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}
.buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.4rem;
    position: relative;
    bottom:5px;
    
}
.volume_slider{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: #83a9ff;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 5px;
    margin-right: 10px;
}
i.bi-volume-down,
i.bi-volume-up{
    font-size: 20px;
    color: white;
    margin-right: 10px;
}
.volume_slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: white;
    border: 3px solid #3774ff;
    cursor: pointer;
    border-radius: 100%;
}
.volume_slider{
    width: 10%;
}
.fav-btn{
    background: var(--bg02);
    border: 2px solid var(--border1);
    box-shadow: var(--box-shadow6);
    width: 42px;
    height: 42px;
    line-height: 50px;
    color: #86898c;
    font-size: 22px;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: -18px;
    
}
.fav-btn:active{
    box-shadow: var(--box-shadow7);
    
}
.modal {
    /* background-color: rgb(223, 28, 28); */
     background-color: #222529; 
     box-shadow: var(--box-shadow6);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: none;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    z-index: 9999999;
    left: 18px;
    top: 10px;
    transition: all 1.5s linear ;
  }
/* MEDIA QUERIY */
@media screen and (max-width:1100px) {
    .playlists{
        display: block;
    }
    .playlists li h5{
        display: none;
    }
    .playlists li .songName{
        display: none;
    }

}
@media screen and (max-width:800px) {
    .playlists{
        /* position: relative;
        left: 2px; */
        position: fixed;
        right: -100%;
        /* background: var(--color-white); */
        width: 55rem;
        z-index: 3;
        display: none;
        padding-left: 6px;
        transition: all 400ms ease  ;
        animation: showmenu 400ms ease forwards;
        background: var(--bg03);
    }
    header .hdbtn-1{
        display: inline;
    }
    header .hdbtn-3{
        display: none;
    }
    .playlists li i{
        text-align: center;
    }
    @keyframes showmenu {
        to{
            right: 0;
        }
    }
}
@media screen and (max-width:587px) {
    .playlists{
        padding-left: 55px;
    }
    .fav-btn{
        font-size: 19px;
        height: 35px;
        width: 35px;
        line-height: 42px;
    }

    .playlists li i{
text-align: center;
    }
    .hdbtn-3{
        margin-bottom: .5rem;
    }
}
@media screen and (max-width:500px) {
    .playlists{
        padding-left: 35px;
    }
    
}
@media screen and (max-width:391px) {
    .playlists{
        padding-left: 10px;
    }
}
@media screen and (max-width:359px) {
    .playlists{
        padding-left: 5px;
    }
}
